* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #E8F0FE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 400px;
}

.login-box {
    background: white;
    padding: 35px;
    border-radius: 14px;
    box-shadow: 0px 8px 30px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    color: #0047AB;
    margin-bottom: 5px;
}

.subtitle {
    text-align: center;
    color: gray;
    margin-bottom: 20px;
    font-size: 14px;
}

.input-group {
    margin-bottom: 18px;
}

.input-group label {
    font-size: 14px;
    color: #0047AB;
    font-weight: 500;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1.8px solid #b5c7f3;
    border-radius: 8px;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: #0047AB;
    outline: none;
}

.btn {
    width: 100%;
    background: #0047AB;
    border: none;
    color: white;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #00398C;
}

.footer-text {
    text-align: center;
    color: gray;
    margin-top: 15px;
}

.footer-text a {
    color: #0047AB;
    font-weight: bold;
    text-decoration: none;
}
